#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#Exclude specific files
!SemanticLogging-svc.exe
!SemanticLogging-svc.runtime.log
!/package/Wix.Toolset*/
WebPackage

**/App_Data/Composite/LogFiles/*
**/App_Data/Composite/Cache/*
**/App_Data/Composite/DataStores/Composite.Data.Types.IUserConsoleInformation_Published.xml
**/App_Data/Composite/ApplicationState/SerializedConsoleMessages/ConsoleMessages.xml
**/App_Data/Composite/DataStores/Composite.Data.Types.IUserConsoleInformation.xml
**/App_Data/Composite/DataStores/Composite.Data.Types.IFlowInformation_Published.xml
**/App_Data/Composite/DataStores/Composite.Data.Types.ILockingInformation_Published.xml
**/App_Data/Composite/DataStores/Composite.Data.Types.IFlowInformation.xml
**/App_Data/Composite/DataStores/Composite.Data.Types.ILockingInformation.xml
**/App_Data/Composite/DataStores/Composite.Plugins.WebClient.SessionStateProviders.DefaultSessionStateProvider.ISessionStateEntry_Unpublished.xml
**/App_Data/Composite/ApplicationState/**/*
**/App_Data/Composite/DataStores/Composite.Data.Types.IUser.xml
**/App_Data/Composite/DataStores/Composite.Data.Types.IUserSettings_Published.xml
**/App_Data/Composite/DataStores/Composite.Data.Types.IUserUserGroupRelation.xml
**/App_Data/Composite/DataStores/Composite.Data.Types.IUserDeveloperSettings.xml

Artifacts/**/*
CompositeC1PackageBuilder/**/*

*/Frontend/**/*.min.css
**/Nop.Web/Plugins/*/*.dll
**/App_Data/Composite/DataStores/Composite.Data.Types.IUserConsoleInformation.xml
Landi.NopCommerce/Presentation/Nop.Web/Content/Images/Thumbs/*
Landi.NopCommerce/Presentation/Nop.Web/Plugins/*
Landi.CompositeC1/Landi.CompositeC1.Web/Frontend/Landi/Frameworks/Bootstrap/Landi.Bootstrap.min.css
Landi.CompositeC1/Landi.CompositeC1.Web/Frontend/Landi/Styles/Landi.min.css
Landi.CompositeC1/Landi.CompositeC1.Web/Frontend/Landi/Styles/Landi.EditorStyles.min.css
*.sln.ide
**/Garaio.CompositeC1Packages.ReverseProxyPortal.zip
**/Landi.CompositeC1Packages.SeoMetadata.zip
**/Garaio.CompositeC1Packages.IssuuDocument.zip
**/Garaio.CompositeC1Packages.MailXpertAccess.zip
Landi.Wetter/Landi.Wetter.Web/App_Data/
Landi.SemanticLogging/Enterprise Library Semantic Logging Service/WindowsService/EmailEventSink.dll
Landi.Standorte/Landi.Standorte.Web/Content/ImageCache/**
