@using System.Collections.Generic
@using Composite.Functions
@using Garaio.CompositeC1Packages.IssuuDocument.Core
@using Resources

@inherits Composite.AspNet.Razor.RazorFunction

@functions {

	private static IssuuController _ic;
	private const int DefaultHeight = 340;
	private const int DefaultWidth = 525;

	public static class IssuuDocumentsWidgetFactory
	{
		public static Dictionary<string, string> GetAvailableDocuments()
		{

			_ic = new IssuuController { Height = DefaultHeight, Width = DefaultWidth };
			return _ic.ListDocuments();
		}
	}

	public override string FunctionDescription
	{
		get { return TextResources.IssuuDocument_FunctionDescription; }
	}

	[FunctionParameter(Label = "${Resource, Resources.TextResources.IssuuDocument_FunctionParameter_SelectedDataConfigId}", Help = "${Resource, Resources.TextResources.IssuuDocument_FunctionParameter_SelectedDataConfigIdHelp}", WidgetFactoryMethod = "DocumentsValueProvider")]
	public string SelectedDataConfigId { get; set; }

	[FunctionParameter(Label = "${Resource, Resources.TextResources.IssuuDocument_FunctionParameter_Width}", DefaultValue = DefaultWidth, Help = "${Resource, Resources.TextResources.IssuuDocument_FunctionParameter_WidthHelp}")]
	public int Width { get; set; }

	[FunctionParameter(Label = "${Resource, Resources.TextResources.IssuuDocument_FunctionParameter_Height}", DefaultValue = DefaultWidth, Help = "${Resource, Resources.TextResources.IssuuDocument_FunctionParameter_HeightHelp}")]
	public int Height { get; set; }

	public static IWidgetFunction DocumentsValueProvider()
	{
		return StandardWidgetFunctions.DropDownList(typeof(IssuuDocumentsWidgetFactory), "GetAvailableDocuments", "Key", "Value", false, true).WidgetFunction;
	}

}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
	<link href="~/Frontend/Garaio/IssuuDocument/Styles.css" rel="stylesheet" />
</head>
<body>
	<div data-configid="@SelectedDataConfigId" style="width:@(Width)px; height:@(Height)px;" class="issuuembed"></div>
</body>
</html>